
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5474FD;
    border: none;
    color: white;
    width: 228px;
    height: 63px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #496BFE;
}

.buttonsection {
    margin-left: 32px;
} 

.buttonchoose {
    margin-top: 4px;
}