

.choose {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 685px;
    height: 100%;
    max-width: 1770px;
    width: 100%;
}

.choose-left{
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 400px;
    margin-left: 50px;
}

.choose-right {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%; 
    justify-self: center;

}

.pic1 {
    display: flex;
    justify-self: left;
    max-width: 350px;
    width:100%;
    margin-bottom:10px;
}

.pic2 {
    display: flex;
    justify-self: right;
    align-self: flex-end;
    max-width: 350px;
    width:100%;
}