@import 'body';

@import 'fonts';

@import 'choose';

@import 'footer';

@import 'header';

@import 'section';

@import 'testimonial';

@import 'works';

@import 'button';

body{
    display: flex;
    flex-direction: column;

    align-items: center;

}
