
.section {
    display: flex;
    flex-direction: column;
    max-height: 1400px;
    height: 100%;
    max-width: 1770px;
    width: 100%;
}

.group1 {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    height: 100%;
    max-width: 1770px;
    width: 100%;
}

.group2 {
    display: flex;
    min-height: 700px;
    height: 100%;
    max-width: 1770px;
    width: 100%;
}

.textbox {
    display: flex;
    flex-direction: column;
    width: 543px;
    height: 374px;    
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.sectionleft {
    display: flex;
    justify-content: right;
    align-items:center;
    max-width: 885px;
    width: 100%;
    min-height: 700px;
    height: 100%;
    margin-top: 56px;
}

.sectionright {
    display: flex;
    justify-content: left;
    align-items:center;
    max-width: 885px;
    width: 100%;
    min-height: 700px;
    height: 100%;
    margin-top: 56px;
}

.blank {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    height: 100%;
    max-width: 1770px;
    width: 100%;
}