
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 685px;
    height: 100%;
    max-width: 1770px;
    width: 100%;
}

.text-box {
    display: flex;
    width:1113px;
    height: 284px;    
    align-items: center;
}

.fa-quote-left {
    display: flex;
    align-self:flex-start;
    color: #5474FD;
    font-size: 36px;
}