

.works {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #333333;
    min-height: 340px;
    height: 100%;
}


.works1 {
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 1121px;
    width: 100%;
    height: 174px;
}

.worksimg1 {
height: 163px;
width: 353px;
}

.worksimg2 {
    height: 161px;
    width: 200px;
}

.worksimg3 {
    height: 174px;
    width: 215px;
}